body{
	background-color: #ffff99;
}
table{
	border: 1px solid ;
	border-color: #008B8B;
	margin:30px;
	padding:15px;
	background-color: white;

}


h1{
	color: gray;
	border: 3px dashed;
	border-color: #000080;
	text-align: center
	
}

h2{
	text-decoration: underline;
	font-family: sans-serif;
	background-color: #00ffff;
}

h3{
	color: purple;
	font-family: "Arial";
	

}

p{
	
}

ul{
	list-style-type: circle;
}

ol{
	
}

li{
}



th{
	padding: 10px;
	background-color: #66CD00;
	color: white;
	font-size: 18px;
}

td{
	padding: 7px;
	text-align:center;
	
}
tfoot{
	perspective: 1px;
}
